<h2 class="title is-4">Olvidaste tu contraseña?</h2>

<%= form_for(resource, as: resource_name, url: password_path(resource_name), html: { method: :post, class: "box" }) do |f| %>
  <%= render "devise/shared/error_messages", resource: resource %>

  <div class="field">
    <label class="label"><%= f.label :email %></label>
    <div class="control has-icons-left">
      <%= f.email_field :email, class: "input", autofocus: true, autocomplete: "email" %>
      <span class="icon is-small is-left">
        <i class="fas fa-envelope"></i>
      </span>
    </div>
  </div>

  <div class="field">
    <div class="control">
      <%= f.submit "Enviar instrucciones de reestablecimiento", class: "button is-link" %>
    </div>
  </div>
<% end %>

