<section class="section">
  <div class="container">
    <h1 class="title">Galería de Fotos</h1>

    <div class="columns is-multiline">
      <% @photos.each do |photo| %>
        <div class="column is-one-third">
          <div class="card is-flex is-flex-direction-column" style="height: 100%;">
            <div class="card-image">
              <% if photo.image.attached? %>
                <figure class="image is-4by3">
                  <%= link_to image_tag(url_for(photo.resized_image)), photo_path(photo) %>
                </figure>
              <% end %>
            </div>
            <div class="card-content is-flex-grow-1">
              <div class="media">
                <div class="media-content">
                  <!-- Limitar el número de caracteres visibles en el caption si es necesario -->
                  <p class="title is-4"><%= truncate(photo.caption, length: 100) %></p>
                </div>
              </div>
            </div>
            <footer class="card-footer">
              <%= link_to 'Ver Foto', photo_path(photo), class: "card-footer-item" %>
              <% if current_user&.admin? %>
                <%= link_to 'Editar', edit_photo_path(photo), class: "card-footer-item" %>
                <%= link_to 'Borrar', photo_path(photo), method: :delete, data: { confirm: '¿Estás seguro?', turbo: false }, class: "card-footer-item has-text-danger" %>
                <% end %>
            </footer>
          </div>
        </div>
      <% end %>
    </div>
  </div>
</section>
